
header {
  background-color: lightgreen;
  font-family: verdana;
  font-size: 30px;
  border-style: hidden;
  padding: 50px 30px 50px 80px;
}

body {
  background-color: lightblue;
  font-family: verdana;
  font-size: 20px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
  border-style: groove;
  border-width: medium;
  border-radius: 6px;
  margin: 50px 150px 50px 80px;
}


footer {
  background-color: lightgreen;
  font-family: verdana;
  font-size: 20px;}


nav {
  font-family: verdana;
  font-size: 15px;
}

li {
  display: inline;
}

a {
  display: block;
  padding: 8px;
  background-color: lightgrey;
}

form {
  background-color: lightblue;
  font-family: verdana;
  font-size: 30px;
}