<!--Ce template correspond à la page d'une communauté-->
<!--... et contient les posts de la communautés et leurs informations -->
<!--... tout utilisateur peut ajouter un post sur une communauté, même s'il n'y est pas abonné-->

{% extends "base.html" %}

{% block title %} Page d'une communauté {%  endblock %}

{%  block content %}

<h1>Voici la liste des posts de la communauté {{communaute.nom}} </h1>

<a href="{%  url 'nouveau_post' communaute.id %}"> Ajouter un nouveau post </a>

{% for post in posts %}
    <p>
     <a href="{%  url 'post' post.id %}"> <li>{{ post }}  </li> </a>
    </p>
{% endfor %}



{%  endblock %}