<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Voici la liste des communautés disponibles</h1>

<ul>

<h2> Voici la liste des communautés auxquelles vous êtes abonné </h2>

{% for communaute in current_communities %}
    <a href="{%  url 'communaute' communaute.id %}"> <li>{{ communaute }} </li>  </a>>  Abonné
{% endfor %}

<h2> Voici la liste des communautés auxquelles vous pouvez vous abonner </h2>

{% for communaute in other_communities %}
    <a href="{%  url 'communaute' communaute.id %}"> <li>{{ communaute }} </li> </a>
    <a href="{%  url 'abonnement' communaute.id %}">   S'abonner </a>
{% endfor %}


</ul>



</body>
</html>