<!--Ce template correspond au fil d'actualité, il est possible d'y accéder à tout moment via le menu en haut de page-->

{% extends "base.html" %}


{% block title %} Page du fil d'actualité {%  endblock %}

{%  block content %}

<h1> Voici votre fil d'actualité </h1>

{% for post in posts %}

<p>

<a href="{%  url 'post' post.id %}"> {{ post.titre }}  </a>&nbsp;&nbsp;
{{ post.description }} &nbsp;&nbsp;
Posted on
{{ post.communaute }} &nbsp;&nbsp;
By
{{ post.auteur }} &nbsp;&nbsp;
On
{{ post.date_creation }} &nbsp;</p>
{%  endfor %}

{%  endblock %}
