{% extends "base.html" %}

{% block title %} Page d'affichage d'un post {%  endblock %}

{%  block content %}

{{ post.titre }} &nbsp;&nbsp;
{{ post.description }} &nbsp;&nbsp;
Posted on
{{ post.communaute }} &nbsp;&nbsp;
By
{{ post.auteur }} &nbsp;&nbsp;
On
{{ post.date_creation }} &nbsp;&nbsp;

{% if utilisateur  == auteur %}

    <a href="{%  url 'modif_post' post.id %}" > Modifier le post </a>

{%  endif %}

{% if commentaires|length  == 0 %}
    Be the first to comment on that post !
{%  else %}
    {% for commentaire in commentaires %}
        <p>
        <li>{{ commentaire.auteur }} {{ commentaire.contenu }} </li> posté le {{ commentaire.date_creation }} par {{ commentaire.auteur }}
        {% if commentaire.auteur == utilisateur %}
            <a href="{%  url 'modif_commentaire' commentaire.id %}" > Modifier le commentaire </a>
        {% endif %}
        </p>
    {% endfor %}
{%  endif %}



<a href="{%  url 'nouveau_commentaire' post.id %}" > Ajouter un commentaire </a>


{%  endblock %}
